### YamlMime:PowershellCmdlet
summary: |-
  Gets the key credentials for an application.
module: AzureADPreview
notes: ""
links:
- text: New-AzureADApplicationKeyCredential
  href: ./New-AzureADApplicationKeyCredential.yml
- text: Remove-AzureADApplicationKeyCredential
  href: ./Remove-AzureADApplicationKeyCredential.yml
syntaxes:
- >-
  Get-AzureADApplicationKeyCredential -ObjectId <String> [-InformationAction <ActionPreference>]

   [-InformationVariable <String>] [<CommonParameters>]
examples:
- title: 'Example 1: Get key credentials'
  code: |-
    PS C:\> Get-AzureADApplicationKeyCredential -ObjectId "3ddd22e7-a150-4bb3-b100-e410dea1cb84"
  description: |-
    This command gets the key credentials for the specified application.
  summary: ""
parameters:
- type: <xref href="ActionPreference" data-throw-if-not-resolved="False" />
  name: InformationAction
  description: |+
    Specifies how this cmdlet responds to an information event.

    The acceptable values for this parameter are:

    - Continue
    - Ignore
    - Inquire
    - SilentlyContinue
    - Stop
    - Suspend

  defaultValue: None
  position: Named
  aliases: infa
  parameterValueGroup: ""
- type: <xref href="String" data-throw-if-not-resolved="False" />
  name: InformationVariable
  description: |+
    Specifies an information variable.

  defaultValue: None
  position: Named
  aliases: iv
  parameterValueGroup: ""
- type: <xref href="String" data-throw-if-not-resolved="False" />
  name: ObjectId
  isRequired: true
  description: |+
    Specifies a unique ID of an application in Azure Active Directory for which to get key credentials

  defaultValue: None
  pipelineInput: true
  position: Named
  aliases: ""
  parameterValueGroup: ""
uid: AzureADPreview.Get-AzureADApplicationKeyCredential
name: Get-AzureADApplicationKeyCredential
description: |-
  The **Get-AzureADApplicationKeyCredential** cmdlet gets the key credentials for an application.
metadata:
  external help file: Microsoft.Open.AzureAD16.Graph.PowerShell.Custom.dll-Help.xml
  Module Name: AzureADPreview
  ms.assetid: 306B2B21-9B1C-4388-B3D6-419CDE02C75C
  ms.custom: iamfeature=PowerShell
  ms.reviewer: rodejo
  online version: ""
  schema: 2.0.0
