### YamlMime:PowershellCmdlet
summary: |-
  Removes a key credential from an application.
module: AzureADPreview
notes: ""
links:
- text: Get-AzureADApplicationKeyCredential
  href: ./Get-AzureADApplicationKeyCredential.yml
- text: New-AzureADApplicationKeyCredential
  href: ./New-AzureADApplicationKeyCredential.yml
syntaxes:
- >-
  Remove-AzureADApplicationKeyCredential -ObjectId <String> -KeyId <String>

   [-InformationAction <ActionPreference>] [-InformationVariable <String>] [<CommonParameters>]
examples:
- title: 'Example 1: Remove a key credential'
  code: |-
    PS C:\> Remove-AzureADApplicationKeyCredential -ObjectId "3ddd22e7-a150-4bb3-b100-e410dea1cb84" -KeyId "6aa971c6-3040-45df-87ed-581c8c09ff2b"
  description: |-
    This command removes the specified key credential from the specified application.
  summary: ""
parameters:
- type: <xref href="ActionPreference" data-throw-if-not-resolved="False" />
  name: InformationAction
  description: |+
    Specifies how this cmdlet responds to an information event.

    The acceptable values for this parameter are:

    - Continue
    - Ignore
    - Inquire
    - SilentlyContinue
    - Stop
    - Suspend

  defaultValue: None
  position: Named
  aliases: infa
  parameterValueGroup: ""
- type: <xref href="String" data-throw-if-not-resolved="False" />
  name: InformationVariable
  description: |+
    Specifies an information variable.

  defaultValue: None
  position: Named
  aliases: iv
  parameterValueGroup: ""
- type: <xref href="String" data-throw-if-not-resolved="False" />
  name: KeyId
  isRequired: true
  description: |+
    Specifies a custom key ID.

  defaultValue: None
  pipelineInput: true
  position: Named
  aliases: ""
  parameterValueGroup: ""
- type: <xref href="String" data-throw-if-not-resolved="False" />
  name: ObjectId
  isRequired: true
  description: |+
    Specifies a unique ID of an application in Azure Active Directory.

  defaultValue: None
  pipelineInput: true
  position: Named
  aliases: ""
  parameterValueGroup: ""
uid: AzureADPreview.Remove-AzureADApplicationKeyCredential
name: Remove-AzureADApplicationKeyCredential
description: |-
  The **Remove-AzureADApplicationKeyCredential** cmdlet removes a key credential from an application.
metadata:
  external help file: Microsoft.Open.AzureAD16.Graph.PowerShell.Custom.dll-Help.xml
  Module Name: AzureADPreview
  ms.assetid: 59B49FB7-4743-4D76-9C08-4416D862BEE3
  ms.custom: iamfeature=PowerShell
  ms.reviewer: rodejo
  online version: ""
  schema: 2.0.0
